@import '@/sass/abstracts/variables';
@import '@/sass/abstracts/mixins';

.wallpapers {
  margin-bottom: 25rem;

  .foot {
    margin-top: 6rem;
    text-align: center;
  }
}

.wallpaperCatalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-auto-rows: 45rem;
  grid-gap: 3rem;
  margin-top: 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 35rem;
    grid-gap: 1rem;
  }
}

.wallpaper {
  height: 100%;
  width: 100%;
  border: 5px solid $border-color-2;
  border-radius: 1.5px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
